@model VasilekCerozhka.Models.ViewModels.Product.ProductVM

<br />
<br />

@if (Model.products is null)
{
    <div><h1>Проверьте соединение с API</h1></div>
}
else
{
    <form class="container form-glass">
        <div class="container p-4">

            <div class="row pb-2">

                <div class="col ">
                    <h1 class="text-primary"> Список товаров </h1>
                </div>

                <div class="col text-end pt-1">

                    <div class="container_btn_custom" style="justify-content: flex-end;">
                        <a asp-action="ProductCreate" class="btn_custom a_custom">Создать продукт</a>
                    </div>

                </div>

            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Имя
                        </th>
                        <th>
                            Категория
                        </th>
                        <th>
                            Цена
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.products)
                    {
                        <tr>
                            <td>
                                @item.ProductName
                            </td>
                            <td>
                                @item.Category.CategoryName
                            </td>
                            <td>
                                @((item.Price).ToString("c"))
                            </td>

                            <td class="col text-end pt-1">

                                <div class="row" style="justify-content: flex-end;">
                                    <div class="col-3 container_btn_custom">
                                        <a asp-action="ProductEdit" class="btn_custom i_custom" asp-route-productId="@item.ProductId">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </div>

                                    <div class="col-3 container_btn_custom">
                                        <a asp-action="ProductDelete" class="btn_custom i_custom" asp-route-productId="@item.ProductId">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </div>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>

            <div class="row justify-content-md-center">

                @if (Model.Paging.HasPrevious)
                {
                    <div class="col-md-auto container_btn_custom">
                        <a asp-action="ProductIndex" asp-route-page="@(Model.Paging.CurrentPage - 1)" class="btn_custom i_custom">Назад</a>
                    </div>
                }

                @for (int i = 1; i <= Model.Paging.TotalPages; i++)
                {
                    @if (@Model.Paging.CurrentPage != i)
                    {
                        <div class="col-md-auto container_btn_custom">
                            <a asp-action="ProductIndex" asp-route-page="@i" class="btn_custom i_custom">@i</a>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-auto container_btn_custom">
                            <a class="btn_custom i_custom_clik">@i</a>
                        </div>
                    }
                }

                @if (Model.Paging.HasNext)
                {
                    <div class="col-md-auto container_btn_custom">
                        <a asp-action="ProductIndex" asp-route-page="@(Model.Paging.CurrentPage + 1)" class="btn_custom i_custom">Вперед</a>
                    </div>
                }

            </div>

        </div>
    </form>
}
