@model VasilekCerozhka.Models.ViewModels.Product.UpdateProductVM

<br />

@*<form asp-action="ProductEdit" onload="window.Images.addImages()">*@
<form asp-action="ProductEdit" class="form-glass">
    <input asp-for="UpdateProduct.ProductId" hidden />
    @*@for (int i = 0; i < Model.UpdateProduct.SecondaryImages.Count; i++)
    {
        <input asp-for="@Model.UpdateProduct.SecondaryImages[i].ImageId)" hidden />
        <input asp-for="@Model.UpdateProduct.SecondaryImages[i].ImageUrl)" hidden />
    }*@
    
    <br />
    <div class="container p-3">
        <h1 class="text-primary">Обновить продукт</h1>

        <hr />
        <div class="row mx-auto">

            <div class="col-3">
                <div class="pb-3">
                    @if (Model.UpdateProduct.SecondaryImages.Count > 0)
                    {
                        <div class="pb-2">
                            <label class="control-label pt-2" style="font-size:20px;">Tекущий список изображений</label>
                        </div>

                        <div id="carouselExampleDark" class="carousel carousel-blue slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-inner effect_gloss_div">
                                @{
                                    int i = 0;
                                }
                                @foreach (var item in Model.UpdateProduct.SecondaryImages)
                                {
                                    i++;
                                    var active = i == 1 ? "active" : "";
                                    <div class="carousel-item @active" data-bs-interval="3900">
                                        <img src="@item.ImageUrl" alt="Image @item" class="d-block w-100 h-100">
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <img src="~/img/886fac756d43925eea0cb1e3643b0dfd.jpg" class="w-100"/>
                    }
                </div>

                <div id="carouselExampleDark" class="carousel carousel-blue slide carousel-fade" data-bs-ride="carousel">
                    <div id="new_products" class="carousel-inner">

                    </div>
                </div>

            </div>

            <div class="col-6 px-5">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

               @* <div class="formsss">
                    <input asp-for="UpdateProduct.ProductName" type="text" name="name" required autocomplete="off" />

                    <label asp-for="UpdateProduct.ProductName" for="name" class="label-namesss">
                        <span class="content-namesss">Name</span>
                    </label>
                </div>*@

                <div class="ms-2 col-5 text-lg-start">
                    <label asp-for="UpdateProduct.ProductName" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-12 pb-3">
                    <input asp-for="UpdateProduct.ProductName" class="form-control" />
                    <span asp-validation-for="UpdateProduct.ProductName" class="text-danger"></span>
                </div>

              @*  Выподающий списсок*@
                <div class="form-group row py-2">

                    <div class="ms-2 col-5 text-lg-start">
                        <label asp-for="UpdateProduct.Category.CategoryName" class="control-label pt-2" style="font-size:20px;">Категории</label>
                    </div>
                    <div class="col-12 pb-2">

                        <select asp-for="paramsCategory" asp-items="@Model.SelectCategorys" class="form-select text-center">
                            <option>@(Model.UpdateProduct.Category.CategoryName)</option>
                        </select>

                    </div>

                </div>


                <div class="ms-2 col-5 text-lg-start">
                    <label asp-for="UpdateProduct.Description" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-12 pb-3">
                    <textarea asp-for="UpdateProduct.Description" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="UpdateProduct.Description" class="text-danger"></span>
                </div>


                <div class="ms-2 col-5 text-lg-start">
                    <label asp-for="UpdateProduct.MainImageUrl" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-12 pb-3">
                    <input asp-for="UpdateProduct.MainImageUrl" class="form-control" oninput="newimgproduct(this)" />
                    <span asp-validation-for="UpdateProduct.MainImageUrl" class="text-danger"></span>
                </div>

               @* Добовляем/Удаляем вторичные изображения*@
                <div class="ms-3 col-5 text-lg-start">
                    <label asp-for="UpdateProduct.SecondaryImages" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-12 pb-3">

                    <table class="table">
                        <tr>
                            <td>
                                <div id="second_images">
                                    @if (Model.Images.Count > 0)
                                    {
                                        @for (int i = 1; i <= Model.Images.Count; i++)
                                        {
                                            <div class="form-group pb-2" id="Images[@i]">
                                                <input asp-for="@Model.Images[@i-1]" class="form-control" name="Images" type="text" />
                                            </div>
                                        }
                                    }
                                </div>
                            </td>
                            <td class="col-1 text-end">
                                <div id="delete_url">
                                    @if (Model.Images.Count > 0)
                                    {
                                        @for (int i = 1; i <= Model.Images.Count; i++)
                                        {
                                            <div class="pb-2 container_btn_custom" id="Btn[@i]">

                                                <a class="btn_custom i_custom" onclick="deleteImages('Images[@i]','Btn[@i]')">
                                                    <i class="fas fa-trash"></i>
                                                </a>

                                            </div>
                                        }
                                    }
                                </div>
                            </td>
                        </tr>
                    </table>

                    <div class="col-3">

                        <input asp-for="Images" type="button" value="Добавить" class="btn btn-outline-primary form-control" onclick="addImages()" />

                    </div>
                    <span asp-validation-for="UpdateProduct.SecondaryImages" class="text-danger"></span>
                </div>

                <div class="ms-2 col-5 text-lg-start">
                    <label asp-for="UpdateProduct.Price" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-12 pb-3">
                    <input asp-for="UpdateProduct.Price" class="form-control" />
                    <span asp-validation-for="UpdateProduct.Price" class="text-danger"></span>
                </div>


                <div class="row p-3">
                    <div class="col-6">

                        <div class="container_btn_custom">
                            <a asp-action="ProductIndex" class="btn_custom a_custom">Вернуться</a>
                        </div>

                    </div>
                    <div class="col-6">

                        <div class="container_btn_custom">
                            <button type="submit" class="btn_custom a_custom">Обновить </button>                           
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-3">

                <div class="pb-3 box">

                    @if (Model.UpdateProduct.ProductId != 0)
                    {
                        <div class="pb-2">
                            <label class="control-label pt-2" style="font-size:20px;">Tекущие изображение</label>
                        </div>

                        <div class="effect_gloss_img">
                            <img src="@Model.UpdateProduct.MainImageUrl"/>
                        </div>
                    }
                    else
                    {
                        <img src="~/img/886fac756d43925eea0cb1e3643b0dfd.jpg" class="w-100" />
                    }

                </div>
                
                <div id="new_product">

                </div>

            </div>

        </div>

    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}