@model VasilekCerozhka.Models.ViewModels.Product.UpdateProductVM

@*<form asp-action="ProductEdit" onload="window.Images.addImages()">*@
<form asp-action="ProductEdit">
    <input asp-for="UpdateProduct.ProductId" hidden />
    @*@for (int i = 0; i < Model.UpdateProduct.SecondaryImages.Count; i++)
    {
        <input asp-for="@Model.UpdateProduct.SecondaryImages[i].ImageId)" hidden />
        <input asp-for="@Model.UpdateProduct.SecondaryImages[i].ImageUrl)" hidden />
    }*@
    
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Обновить продукт</h1>

        <hr />
        <div class="row">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="UpdateProduct.ProductName" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="UpdateProduct.ProductName" class="form-control" />
                <span asp-validation-for="UpdateProduct.ProductName" class="text-danger"></span>
            </div>

          @*  Выподающий списсок*@
            <div class="form-group row py-2">

                <div class="col-2">
                    <label asp-for="UpdateProduct.Category.CategoryName" class="control-label pt-2" style="font-size:20px;">Категории</label>
                </div>
                <div class="col-10 pb-2">

                    <select asp-for="paramsCategory" asp-items="@Model.SelectCategorys" class="form-select text-center">
                        <option>@(Model.UpdateProduct.Category.CategoryName)</option>
                    </select>

                </div>

            </div>


            <div class="col-2">
                <label asp-for="UpdateProduct.Description" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="UpdateProduct.Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="UpdateProduct.Description" class="text-danger"></span>
            </div>


            <div class="col-2">
                <label asp-for="UpdateProduct.MainImageUrl" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="UpdateProduct.MainImageUrl" class="form-control" />
                <span asp-validation-for="UpdateProduct.MainImageUrl" class="text-danger"></span>
            </div>

           @* Добовляем/Удаляем вторичные изображения*@
            <div class="col-2">
                <label asp-for="UpdateProduct.SecondaryImages" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">

                <table class="table">
                    <tr>
                        <td>
                            <div id="second_images">
                                @if (Model.Images.Count > 0)
                                {
                                    @for (int i = 1; i <= Model.Images.Count; i++)
                                    {
                                        <div class="form-group pb-2">
                                            <input asp-for="@Model.Images[@i-1]" class="form-control" id="Images[@i]" name="Images" type="text" />
                                        </div>
                                    }
                                }
                            </div>
                        </td>
                        <td class="col-1 text-end">
                            <div id="delete_url">
                                @if (Model.Images.Count > 0)
                                {
                                    @for (int i = 1; i <= Model.Images.Count; i++)
                                    {
                                        <div class="col-1 pb-2">
                                            <div id="Btn[@i]" class="btn btn-outline-primary" onclick="deleteImages('Images[@i]','Btn[@i]')"><i class="fas fa-trash"></i></div>
                                        </div>
                                    }
                                }
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="col-3">
                    <input asp-for="Images" type="button" value="Добавить" class="btn btn-outline-primary form-control" onclick="addImages()" />
                </div>
                <span asp-validation-for="UpdateProduct.SecondaryImages" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="UpdateProduct.Price" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="UpdateProduct.Price" class="form-control" />
                <span asp-validation-for="UpdateProduct.Price" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="ProductIndex" class="btn btn-outline-primary form-control">Вернуться</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Обновить" class="btn btn-outline-primary form-control" />
            </div>

        </div>

    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}